.login-register {
	font-family: sans-serif;
	font-weight: bold;
	padding: 15px;
	text-align: right;
	font-size: 13px;
}

.search{
	font-family: sans-serif;
	padding: 10px;
	font-size: 10px;
}

.btnsearch{
	height: 34px;
	background-color: silver;
}

.look-for{
	font-size: 23px;
	font-family: bookman-old-style;
}

img{
	height: px;
}

.sidemenu{
	background-color: #F0F0F0;

}

.cus-badge{
	
	padding: 2%;

}

.badge{
	font-size: 15px;
	width: 100%;
	background-color: orange;
	margin-bottom: 2%;
	height: auto;
}

.btn-bid{
	
	width: 100%;
}

.cus-nav{
	margin-top: 10px;
}

body{
	background-color: #F8F8F8;
}

.btn-title{
	font-size: 15px;
	padding: 10px;
	width: 100%;
}

.btn-title1{
	padding-top: 5px;
}

.thumbnail > img{
	height: 30%;
	width: 100%;
}
