<html>
	<head>
		<title>Auction It</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/custom.css" type="text/css"/>
	</head>
	<body>
		<div class="container">
			<div class="row cus-nav">
				<nav class = "navbar navbar-inverse" role = "navigation">
				<div class="col-md-2 btn-title1">
					<a href="#" class="btn btn-primary btn-title" role="button"><strong>Auction It</strong></a>
				</div>
				<div class="col-md-4">
      				
      				<div class = "input-group search">
      					<span class = "input-group-btn">
                  		<button class = "btn btn-default btnsearch" type = "button">
                     		<i class="glyphicon glyphicon-search"></i>
                  		</button>
               			</span>
         				
         				<input type = "text" class = "form-control" placeholder = "Search">
      				</div>
   				</div>
   				<div class="col-md-6">
   					<div class="login-register">
   						<a href = "#"><i class="glyphicon glyphicon-log-in"></i> Sign In</a>&nbsp;&nbsp;&nbsp;
      					<a href = "#"><i class="glyphicon glyphicon-edit"></i> Sign Up</a>
      				</div>
				</div>
				</nav>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<p class="look-for">Looking For</p>
					<ul class="nav nav-pills nav-stacked sidemenu">
						<li><a href="#"><img src="glyphicons/glyphicons/png/glyphicons-78-headset.png"> Electronics</img></a></li>
						<li><a href="#"><img src="glyphicons/glyphicons/png/glyphicons-352-book-open.png"> Books </img></a></li>
						<li><a href="#">Handicrafts</a></li>
						<li><a href="#">Books & Media</a></li>
						<li><a href="#">Auto & Sports</a></li>
					</ul>
				</div>
				<div class="col-md-10">
				<div class="col-sm-6 col-md-4">
    				<div class="thumbnail">
      					<img src="img/iphone_5_ipad_mini_ipad_3_800x600.jpg" alt="...">
      					<div class="caption">
        					<h3>Thumbnail label</h3>
        					
        					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        			    
        					<div class="cus-badge">
        						<span class="badge">Starting Price: $100</span>
        						<span class="badge">Highest Bid: $500</span>
        					</div>
        					
        					<p><a href="#" class="btn btn-danger btn-bid" role="button">Bid</a> </p>
      					</div>
    				</div>
  				</div>
  				<div class="col-sm-6 col-md-4">
    				<div class="thumbnail">
      					<img src="img/iphone_5_ipad_mini_ipad_3_800x600.jpg" alt="...">
      					<div class="caption">
        					<h3>Thumbnail label</h3>
        					
        					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        			     
        					<div class="cus-badge">
        						<span class="badge">Starting Price: $100</span>
        						<span class="badge">Highest Bid: $500</span>
        					</div>

        					<p><a href="#" class="btn btn-danger btn-bid" role="button">Bid</a> </p>
      					</div>
    				</div>
  				</div><div class="col-sm-6 col-md-4">
    				<div class="thumbnail">
      					<img src="img/iphone_5_ipad_mini_ipad_3_800x600.jpg" alt="...">
      					<div class="caption">
        					<h3>Thumbnail label</h3>
        					
        					<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        			
        					<div class="cus-badge">
        						<span class="badge">Starting Price: $100</span>
        						<span class="badge">Current Bid: $500</span>
        					</div>
        					<p><a href="#" class="btn btn-danger btn-bid" role="button">Bid</a> </p>
      					</div>
    				</div>
  				</div>

				</div>
		</div>
		</div>
	</body>
	<script src="js/bootstrap.min.js"></script>
</html>