<html>
	<head>
		<title>Auction It</title>
		<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
		<link rel="stylesheet" href="css/custom.css" type="text/css"/>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<nav class = "navbar navbar-default" role = "navigation">
				<div class="col-md-1">
					
				</div>
				<div class="col-md-5">
      				<a class = "navbar-brand" href = "#">Auction It</a>
      				<div class = "input-group search">
      					<span class = "input-group-btn">
                  		<button class = "btn btn-default btnsearch" type = "button">
                     		<i class="glyphicon glyphicon-search"></i>
                  		</button>
               			</span>
         				
         				<input type = "text" class = "form-control" placeholder = "">
      				</div>
   				</div>
   				<div class="col-md-6">
   					<div class="login-register">
   						<a href = "#"><i class="glyphicon glyphicon-log-in"></i> Sign In</a>&nbsp;&nbsp;&nbsp;
      					<a href = "#"><i class="glyphicon glyphicon-edit"></i> Sign Up</a>
      				</div>
				</div>
				</nav>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<p class="look-for">Looking For</p>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="#"><img src="glyphicons/glyphicons/png/glyphicons-78-headset.png"> Electronics</img></a></li>
						<li><a href="#"><img src="glyphicons/glyphicons/png/glyphicons-352-book-open.png"> Books </img></a></li>
						<li><a href="#">Handicrafts</a></li>
						<li><a href="#">Books & Media</a></li>
						<li><a href="#">Auto & Sports</a></li>
					</ul>
				</div>
				<div class="col-md-10">
				<ul>
					<li>Electronics</li>
					<li>Computer and Accessories</li>
					<li>Handicrafts</li>
					<li>Books & Media</li>
					<li>Auto & Sports</li>
				</ul>
				</div>
		</div>
		</div>
	</body>
	<script src="js/bootstrap.min.js"></script>
</html>